body {
    margin: 20px auto 0;
    width: 70%;
    cursor: default;
    font-size: 20px;
}

#alert {
    color: #FF0000;
    text-align: center;
    min-height: 50px;
    margin-top: 10px;
    display: none;
}

#alert span {
    line-height: 50px;
}

html {
    background-color: #B0B0B0;
}

#content {
    background-color: #DADADA;
    border-radius: 5px;
    box-shadow: 0 0 20px 3px #D3D3D3;
    margin: 20px 0 0;
}

#clear-fix {
    padding: 10px 20px 20px;
}

h2 {
    text-align: center;
    display: none;
}

div#you {
    float: left;
    max-width: 50%;
}

div#opponent {
    float: right;
    max-width: 50%;
}

div.clicked {
    background-color: #3366FF;
    color: #ffffff;
}

div.answer, div#menu > div {
    cursor: pointer;
    text-align: center;
    min-height: 50px;
    border: 1px dotted;
    border-radius: 5px;
    margin-top: 10px;
}

div.answer span, div#menu {
    line-height: 50px;
}

div#answers {
    margin-top: 15px;
    display: none;
}

div#timer {
    font-size: 40px;
    color: #FF0000;
    text-align: center;
}

div#results {
    margin-top: 15px;
    text-align: center;
    min-height: 50px;
    display: none;
}

div#search {
    text-align: center;
    min-height: 50px;
    margin-top: 10px;
    display: none;
}

div#search span {
    line-height: 50px;
}

div#instructions {
    display: none;
    padding: 5% 10% 0;
}

div#instructions span {
    display: block;
}

span.head {
    text-align: center;
    font-weight: bold;
}

.correct {
    background-color: #00a500;
    color: #ffffff;
}

.wrong {
    background-color: #FF0000;
    color: #ffffff;
}

#menu {
    display: none;
}

html {
    min-width: 365px;
}